.welcome{
  padding-bottom: 48px;
  padding-top: 0px;
  border-color: black;
  background-color: black;
  object-fit: contain;
  position:relative ;
  color: white;}

.login-btn{
  text-align: right;
  padding-top: 36px;
  margin-right: 32px;
}

.intro{
  text-align: center;
  padding: 8px;
  padding-top: 20px;
}

.submit-email{
  justify-content: center;
  
}

#input-email{
  width: 256px;
  height: 40px;
  border-radius: 4px;
  border-color: aqua;
}
#get-started-btn {
  height: 40px;
  border-radius: 4px;
}
.section2-h1 {
    font-size: 32px;
  }
  
  .section2-p {
    font-size: 24px;
  }

  .astr {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .fam{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .netflix_logo{
    position : relative;
    left:20px;
    top: 0.8% ;
    height: 72px;
    width: 150px;
    cursor: pointer;
  }

  .avatar{
    cursor: pointer;
    position: relative;
    right: 20px;
    width: 30px;
    height: 30px;
    top: 16px;
  }

  .nav{
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    padding-bottom: 60px;
  }

  .banner{ 
    position: relative;
    height: 500px;
    object-fit:contain;
    overflow-y:auto;
    overflow-x: auto;
  }
  .banner__contents{
    position: absolute;
    width: 32%;
    bottom: 0;
    left: 0;
    padding-left: 36px;
    object-fit: contain;
  }
  .banner__title{
    font-family: Segos UI;
    font-weight: 100;
    font-style: regular;
    color: white;
    letter-spacing: 3px;
  }
  .banner__description{
    font-family: Segos UI;
    font-size:medium;
    padding-top: 3px;
    margin-bottom: 40%;
    line-height: normal;
    font-style: regular;
    color: white;
    letter-spacing: 3px;
  }

  .banner__button{
    letter-spacing: 3px;
    margin-right: 16px;
    border-radius: 12px;
  }

  .row{
    color : white;
    margin-left: 20px;
    margin-top: 12px;
  }
  .row__posters{
    display: flex;
    overflow-x: hidden ;
    overflow-y: scroll;
    padding: 20px;
    background-color: black;
  }
  .row__poster{
    max-height: 100px;
    position: relative;
    background-color: black;
  }

/* .banner--fadeBottom{
  height: 7.4rem ;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    188deg,

    rgba(37, 37, 37, 0.61)60%,
    #111
  );
} */
  
  