.welcome{
    padding-bottom: 48px;
    padding-top: 0px;
    border-color: black;
    background-color: black;
    color: white;}

.login-btn{
    text-align: right;
    padding-top: 36px;
    margin-right: 32px;
}

.intro{
    text-align: center;
    padding: 8px;
}

.submit-email{
    justify-content: center;
    
}

#input-email{
    width: 256px;
    height: 40px;
    border-radius: 4px;
    border-color: aqua;
}
#get-started-btn {
    height: 40px;
    border-radius: 4px;
}